<% include ./header.ejs %>
            <section class="grid-wrap" >
                <header class="grid col-full">
                    <hr>
                    <p class="fleft">首页</p>
                    <a href="about.html" class="arrow fright">see more infos</a>
                </header>
                
                <div class="grid col-one-half mq2-col-full">
                    <%if(typeof home_intro !== "undefined"){%>
                        <%-home_intro%>
                    <%}%>
                </div>
                
                <div class="slider grid col-one-half mq2-col-full">
                    <div class="flexslider">
                        <div class="slides">
                            <div class="slide">
                                <figure>
                                    <img src="<%=static_dir%>/img/img2.jpg" alt="">
                                    <figcaption>
                                    <div>
                                        <h5>Caption 1</h5>
                                        <p>Lorem ipsum dolor set amet, lorem, <a href="#">link text</a></p>
                                    </div>
                                    </figcaption>
                                </figure>
                            </div>
                            
                            <div class="slide">
                                <figure>
                                    <img src="<%=static_dir%>/img/img.jpg" alt="">
                                    <figcaption>
                                    <div>
                                        <h5>Caption 2</h5>
                                        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                                    </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >免费网站模板</a></div>
            <section class="services grid-wrap">
                <header class="grid col-full">
                    <hr>
                    <p class="fleft">服务</p>
                    <a href="services.html" class="arrow fright">see more services</a>
                </header>
                
                <article class="grid col-one-third mq3-col-full">
                <aside>01</aside>
                <h5>网页设计</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
                </article>
                
                <article class="grid col-one-third mq3-col-full">
                <aside>02</aside>
                <h5>网站开发</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
                </article>
            
            <article class="grid col-one-third mq3-col-full">
            <aside>03</aside>
            <h5>服务托管</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
            </article>
        </section>
        <section class="works grid-wrap">
            <header class="grid col-full">
                <hr>
                <p class="fleft">案例</p>
                <a href="works.html" class="arrow fright">see more works</a>
            </header>
        
            <%products.forEach(function(one,key){%>
            <figure class="grid col-one-quarter mq2-col-one-half">
                <a href="/product/detail/<%=one.id%>">
                    <img src="<%-one.thumb%>" alt="">
                    <span class="zoom"></span>
                </a>
                <figcaption>
                <a href="/product/detail/<%=one.id%>" class="arrow"><%=one.title%></a>
                <p><%-one.description%></p>
                </figcaption>
            </figure>
            <%})%>
        </section>
<% include ./footer.ejs %>

